--USE [master]
--GO
--create database [QLChoThueNha_BTL]
--/****** Object:  Database [QLChoThueNha_BTL]    Script Date: 11/15/2023 11:08:46 PM ******/
--CREATE DATABASE [QLChoThueNha_BTL]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'QLChoThueNha_BTL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLChoThueNha_BTL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'QLChoThueNha_BTL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLChoThueNha_BTL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET COMPATIBILITY_LEVEL = 150
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [QLChoThueNha_BTL].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET AUTO_CLOSE ON 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET  ENABLE_BROKER 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET RECOVERY SIMPLE 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET  MULTI_USER 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET TARGET_RECOVERY_TIME = 60 SECONDS 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET DELAYED_DURABILITY = DISABLED 
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET ACCELERATED_DATABASE_RECOVERY = OFF  
--GO
--ALTER DATABASE [QLChoThueNha_BTL] SET QUERY_STORE = OFF
--GO
--USE [QLChoThueNha_BTL]
--GO
--/****** Object:  Table [dbo].[CoQuan]    Script Date: 11/15/2023 11:08:46 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

CREATE TABLE [dbo].[CoQuan](
	[MaCQ] [nvarchar](10) NOT NULL,
	[TenCQ] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucNha]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucNha](
	[MaNha] [nvarchar](10) NOT NULL,
	[TenChuNha] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](10) NOT NULL,
	[MaLoai] [nvarchar](10) NULL,
	[MaDTSD] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DonGiaThue] [money] NOT NULL,
	[TinhTrang] [nvarchar](10) NULL,
	[DaThue] [bit] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuongSudung]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuongSudung](
	[MaDTSD] [nvarchar](10) NOT NULL,
	[TenDTSD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDTSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[MaHinhThucTT] [nvarchar](10) NOT NULL,
	[TenHinhThucTT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHinhThucTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachThue]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachThue](
	[MaKhach] [nvarchar](10) NOT NULL,
	[TenKhach] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[SoCMND] [varchar](20) NOT NULL,
	[DiaChiThuongTru] [nvarchar](100) NOT NULL,
	[MaNghe] [nvarchar](10) NULL,
	[MaCQ] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNha]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNha](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucDichSuDung]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucDichSuDung](
	[MaMucDichSD] [nvarchar](10) NOT NULL,
	[TenMucDichSD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMucDichSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NgheNghiep]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgheNghiep](
	[MaNghe] [nvarchar](10) NOT NULL,
	[TenNghe] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNghe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_TaiSan]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_TaiSan](
	[MaNha] [nvarchar](10) NULL,
	[MaTaiSan] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[GiaTri] [money] NULL,
	[TinhTrang] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](30) NOT NULL,
	[_Password] [nvarchar](30) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[PhanQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTaiSan] [nvarchar](10) NOT NULL,
	[TenTaiSan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThueNha]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThueNha](
	[MaSoThue] [nvarchar](10) NOT NULL,
	[MaKhach] [nvarchar](10) NULL,
	[MaNha] [nvarchar](10) NULL,
	[MaMucDichSD] [nvarchar](10) NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[TienDatCoc] [money] NULL,
	[MaHinhThucTT] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSoThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuTienNha]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuTienNha](
	[MaSoThu] [nvarchar](10) NOT NULL,
	[MaSoThue] [nvarchar](10) NULL,
	[Thang] [nvarchar](20) NULL,
	[Nam] [nvarchar](20) NULL,
	[TongTien] [money] NULL,
	[NguoiThu] [nvarchar](20) NULL,
	[NgayThu] [datetime] NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSoThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraNha]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraNha](
	[MaSoThue] [nvarchar](10) NOT NULL,
	[NgayTra] [datetime] NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSoThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraNha_MatTaiSan]    Script Date: 11/15/2023 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraNha_MatTaiSan](
	[MaSoThue] [nvarchar](10) NULL,
	[MaTaiSan] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[GiaTri] [money] NULL,
	[ThanhTien] [money] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CoQuan] ([MaCQ], [TenCQ]) VALUES (N'CQ001', N'Trường Đại học Giao Thông Vận Tải')
INSERT [dbo].[CoQuan] ([MaCQ], [TenCQ]) VALUES (N'CQ002', N'Công ty Under The Hood')
INSERT [dbo].[CoQuan] ([MaCQ], [TenCQ]) VALUES (N'CQ003', N'Trường Đại học Sư phạm Hà Nội')
GO
INSERT [dbo].[DanhMucNha] ([MaNha], [TenChuNha], [DienThoai], [MaLoai], [MaDTSD], [DiaChi], [DonGiaThue], [TinhTrang], [DaThue], [GhiChu]) VALUES (N'MN001', N'Nguyễn Văn Nam', N'0956148236', N'ML003', N'DTSD001', N'11/100 Trung Kính, Cầu Giấy, Hà Nội', 3500000.0000, N'Cũ', 0, N'Đã được tu sửa, bảo trì')
INSERT [dbo].[DanhMucNha] ([MaNha], [TenChuNha], [DienThoai], [MaLoai], [MaDTSD], [DiaChi], [DonGiaThue], [TinhTrang], [DaThue], [GhiChu]) VALUES (N'MN002', N'Ngô Thị Thuý Hằng', N'0359621478', N'ML001', N'DTSD004', N'90/1194 Đường Láng, Láng Thượng, Đống Đa, Hà Nội', 75000000.0000, N'Mới', 0, NULL)
INSERT [dbo].[DanhMucNha] ([MaNha], [TenChuNha], [DienThoai], [MaLoai], [MaDTSD], [DiaChi], [DonGiaThue], [TinhTrang], [DaThue], [GhiChu]) VALUES (N'MN003', N'Mai Văn Giang', N'0372030046', N'ML003', N'DTSD001', N'36 Dịch Vọng Hậu, P. Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội', 4000000.0000, N'Cũ', 1, N'Đã được tu sửa, bảo trì')
GO
INSERT [dbo].[DoiTuongSudung] ([MaDTSD], [TenDTSD]) VALUES (N'DTSD001', N'Sinh viên')
INSERT [dbo].[DoiTuongSudung] ([MaDTSD], [TenDTSD]) VALUES (N'DTSD002', N'Người đi làm')
INSERT [dbo].[DoiTuongSudung] ([MaDTSD], [TenDTSD]) VALUES (N'DTSD003', N'Hộ gia đình')
GO
INSERT [dbo].[HinhThucThanhToan] ([MaHinhThucTT], [TenHinhThucTT]) VALUES (N'HTTT001', N'1 năm')
INSERT [dbo].[HinhThucThanhToan] ([MaHinhThucTT], [TenHinhThucTT]) VALUES (N'HTTT002', N'1 tháng')
INSERT [dbo].[HinhThucThanhToan] ([MaHinhThucTT], [TenHinhThucTT]) VALUES (N'HTTT003', N'3 tháng')
GO
INSERT [dbo].[KhachThue] ([MaKhach], [TenKhach], [NgaySinh], [GioiTinh], [SoCMND], [DiaChiThuongTru], [MaNghe], [MaCQ]) VALUES (N'KH001', N'Hà Vĩnh Linh', CAST(N'2003-11-28' AS Date), 1, N'037203004851', N'Tam Điệp, Ninh Bình', N'NN001', N'CQ003')
INSERT [dbo].[KhachThue] ([MaKhach], [TenKhach], [NgaySinh], [GioiTinh], [SoCMND], [DiaChiThuongTru], [MaNghe], [MaCQ]) VALUES (N'KH002', N'Trần Thu Hiền', CAST(N'1993-10-05' AS Date), 0, N'075614862356', N'Thường Tín, Hà Nội', N'NN004', NULL)
INSERT [dbo].[KhachThue] ([MaKhach], [TenKhach], [NgaySinh], [GioiTinh], [SoCMND], [DiaChiThuongTru], [MaNghe], [MaCQ]) VALUES (N'KH003', N'Nguyễn Hoàng Long', CAST(N'1972-02-01' AS Date), 1, N'076859412345', N'Từ Sơn, Bắc Ninh', N'NN003', N'CQ002')
GO
INSERT [dbo].[LoaiNha] ([MaLoai], [TenLoai]) VALUES (N'ML001', N'Nhà phố nguyên căn')
INSERT [dbo].[LoaiNha] ([MaLoai], [TenLoai]) VALUES (N'ML002', N'Nhà 3 tầng')
INSERT [dbo].[LoaiNha] ([MaLoai], [TenLoai]) VALUES (N'ML003', N'Nhà cấp 4')
GO
INSERT [dbo].[MucDichSuDung] ([MaMucDichSD], [TenMucDichSD]) VALUES (N'MDSD001', N'Nhà ở')
INSERT [dbo].[MucDichSuDung] ([MaMucDichSD], [TenMucDichSD]) VALUES (N'MDSD002', N'Văn phòng')
INSERT [dbo].[MucDichSuDung] ([MaMucDichSD], [TenMucDichSD]) VALUES (N'MDSD003', N'Cửa hàng')
GO
INSERT [dbo].[NgheNghiep] ([MaNghe], [TenNghe]) VALUES (N'NN001', N'Sinh viên')
INSERT [dbo].[NgheNghiep] ([MaNghe], [TenNghe]) VALUES (N'NN002', N'Giáo viên')
INSERT [dbo].[NgheNghiep] ([MaNghe], [TenNghe]) VALUES (N'NN003', N'Nhân viên văn phòng')
GO
INSERT [dbo].[Nha_TaiSan] ([MaNha], [MaTaiSan], [SoLuong], [GiaTri], [TinhTrang]) VALUES (N'MN001', N'TS001', 1, 2000000.0000, NULL)
INSERT [dbo].[Nha_TaiSan] ([MaNha], [MaTaiSan], [SoLuong], [GiaTri], [TinhTrang]) VALUES (N'MN001', N'TS003', 1, 750000.0000, NULL)
INSERT [dbo].[Nha_TaiSan] ([MaNha], [MaTaiSan], [SoLuong], [GiaTri], [TinhTrang]) VALUES (N'MN001', N'TS004', 1, 8500000.0000, NULL)
GO
INSERT [dbo].[TaiSan] ([MaTaiSan], [TenTaiSan]) VALUES (N'TS001', N'Giường')
INSERT [dbo].[TaiSan] ([MaTaiSan], [TenTaiSan]) VALUES (N'TS002', N'Bàn ghế')
INSERT [dbo].[TaiSan] ([MaTaiSan], [TenTaiSan]) VALUES (N'TS003', N'Tủ quần áo')
GO
INSERT [dbo].[ThueNha] ([MaSoThue], [MaKhach], [MaNha], [MaMucDichSD], [NgayBD], [NgayKT], [TienDatCoc], [MaHinhThucTT]) VALUES (N'MT001', N'KH008', N'MN002', N'MDSD002', CAST(N'2021-10-12T00:00:00.000' AS DateTime), CAST(N'2022-10-12T00:00:00.000' AS DateTime), 75000000.0000, N'HTTT002')
INSERT [dbo].[ThueNha] ([MaSoThue], [MaKhach], [MaNha], [MaMucDichSD], [NgayBD], [NgayKT], [TienDatCoc], [MaHinhThucTT]) VALUES (N'MT002', N'KH003', N'MN005', N'MDSD001', CAST(N'2023-06-25T00:00:00.000' AS DateTime), CAST(N'2023-12-25T00:00:00.000' AS DateTime), 25000000.0000, N'HTTT002')
INSERT [dbo].[ThueNha] ([MaSoThue], [MaKhach], [MaNha], [MaMucDichSD], [NgayBD], [NgayKT], [TienDatCoc], [MaHinhThucTT]) VALUES (N'MT003', N'KH001', N'MN001', N'MDSD001', CAST(N'2023-05-05T00:00:00.000' AS DateTime), CAST(N'2024-05-05T00:00:00.000' AS DateTime), 3500000.0000, N'HTTT001')
GO
INSERT [dbo].[ThuTienNha] ([MaSoThu], [MaSoThue], [Thang], [Nam], [TongTien], [NguoiThu], [NgayThu], [GhiChu]) VALUES (N'MST001', N'MT007', N'7', N'2021', 28500000.0000, N'Nguyễn Thanh Toàn', CAST(N'2021-07-05T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ThuTienNha] ([MaSoThu], [MaSoThue], [Thang], [Nam], [TongTien], [NguoiThu], [NgayThu], [GhiChu]) VALUES (N'MST002', N'MT007', N'9', N'2021', 29200000.0000, N'Nguyễn Thanh Toàn', CAST(N'2021-09-04T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ThuTienNha] ([MaSoThu], [MaSoThue], [Thang], [Nam], [TongTien], [NguoiThu], [NgayThu], [GhiChu]) VALUES (N'MST003', N'MT007', N'10', N'2021', 28000000.0000, N'Nguyễn Thanh Toàn', CAST(N'2021-10-05T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[TraNha] ([MaSoThue], [NgayTra], [TongTien]) VALUES (N'MT001', CAST(N'2022-10-12T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[TraNha] ([MaSoThue], [NgayTra], [TongTien]) VALUES (N'MT002', CAST(N'2023-12-23T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[TraNha] ([MaSoThue], [NgayTra], [TongTien]) VALUES (N'MT003', CAST(N'2024-05-05T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[TraNha_MatTaiSan] ([MaSoThue], [MaTaiSan], [SoLuong], [GiaTri], [ThanhTien]) VALUES (N'MT001', N'TS004', 2, 10000000.0000, NULL)
INSERT [dbo].[TraNha_MatTaiSan] ([MaSoThue], [MaTaiSan], [SoLuong], [GiaTri], [ThanhTien]) VALUES (N'MT004', N'TS010', 1, 6000000.0000, NULL)
INSERT [dbo].[TraNha_MatTaiSan] ([MaSoThue], [MaTaiSan], [SoLuong], [GiaTri], [ThanhTien]) VALUES (N'MT007', N'TS007', 1, 5000000.0000, NULL)
GO
ALTER TABLE [dbo].[KhachThue] ADD  DEFAULT (getdate()) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[ThueNha] ADD  DEFAULT (getdate()) FOR [NgayBD]
GO
ALTER TABLE [dbo].[ThueNha] ADD  DEFAULT (getdate()) FOR [NgayKT]
GO
ALTER TABLE [dbo].[ThuTienNha] ADD  DEFAULT (getdate()) FOR [NgayThu]
GO
ALTER TABLE [dbo].[TraNha] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[DanhMucNha]  WITH CHECK ADD FOREIGN KEY([MaDTSD])
REFERENCES [dbo].[DoiTuongSudung] ([MaDTSD])
GO
ALTER TABLE [dbo].[DanhMucNha]  WITH CHECK ADD FOREIGN KEY([MaDTSD])
REFERENCES [dbo].[DoiTuongSudung] ([MaDTSD])
GO
ALTER TABLE [dbo].[KhachThue]  WITH CHECK ADD  CONSTRAINT [fk_coquan] FOREIGN KEY([MaCQ])
REFERENCES [dbo].[CoQuan] ([MaCQ])
GO
ALTER TABLE [dbo].[KhachThue] CHECK CONSTRAINT [fk_coquan]
GO
ALTER TABLE [dbo].[KhachThue]  WITH CHECK ADD  CONSTRAINT [fk_nghe] FOREIGN KEY([MaNghe])
REFERENCES [dbo].[NgheNghiep] ([MaNghe])
GO
ALTER TABLE [dbo].[KhachThue] CHECK CONSTRAINT [fk_nghe]
GO
ALTER TABLE [dbo].[Nha_TaiSan]  WITH CHECK ADD FOREIGN KEY([MaNha])
REFERENCES [dbo].[DanhMucNha] ([MaNha])
GO
ALTER TABLE [dbo].[Nha_TaiSan]  WITH CHECK ADD FOREIGN KEY([MaTaiSan])
REFERENCES [dbo].[TaiSan] ([MaTaiSan])
GO
ALTER TABLE [dbo].[Nha_TaiSan]  WITH CHECK ADD  CONSTRAINT [fk_nha_mataisan] FOREIGN KEY([MaTaiSan])
REFERENCES [dbo].[TaiSan] ([MaTaiSan])
GO
ALTER TABLE [dbo].[Nha_TaiSan] CHECK CONSTRAINT [fk_nha_mataisan]
GO
ALTER TABLE [dbo].[ThueNha]  WITH CHECK ADD FOREIGN KEY([MaHinhThucTT])
REFERENCES [dbo].[HinhThucThanhToan] ([MaHinhThucTT])
GO
ALTER TABLE [dbo].[ThueNha]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachThue] ([MaKhach])
GO
ALTER TABLE [dbo].[ThueNha]  WITH CHECK ADD FOREIGN KEY([MaNha])
REFERENCES [dbo].[DanhMucNha] ([MaNha])
GO
ALTER TABLE [dbo].[ThuTienNha]  WITH CHECK ADD FOREIGN KEY([MaSoThue])
REFERENCES [dbo].[ThueNha] ([MaSoThue])
GO
ALTER TABLE [dbo].[TraNha]  WITH CHECK ADD  CONSTRAINT [fk_tranha_mst] FOREIGN KEY([MaSoThue])
REFERENCES [dbo].[ThueNha] ([MaSoThue])
GO
ALTER TABLE [dbo].[TraNha] CHECK CONSTRAINT [fk_tranha_mst]
GO
ALTER TABLE [dbo].[TraNha_MatTaiSan]  WITH CHECK ADD FOREIGN KEY([MaSoThue])
REFERENCES [dbo].[ThueNha] ([MaSoThue])
GO
ALTER TABLE [dbo].[TraNha_MatTaiSan]  WITH CHECK ADD FOREIGN KEY([MaTaiSan])
REFERENCES [dbo].[TaiSan] ([MaTaiSan])
GO
ALTER TABLE [dbo].[TraNha_MatTaiSan]  WITH CHECK ADD  CONSTRAINT [fk_tranha_mattaisan_mst] FOREIGN KEY([MaSoThue])
REFERENCES [dbo].[TraNha] ([MaSoThue])
GO
ALTER TABLE [dbo].[TraNha_MatTaiSan] CHECK CONSTRAINT [fk_tranha_mattaisan_mst]
GO
USE [master]
GO